main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 97vh;
  user-select: none;
}

body {
  min-height: 100vh;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: linear-gradient(
    325deg,
    #03001e 0%,
    #7303c0 30%,
    #ec38bc 70%,
    #fdeff9 100%
  );
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.title{
}

h2 {
  color: #fff;
  text-transform: uppercase;
  
}



.reset {
  padding: 15px 20px;
  width: 100%;
  color: #000;
  background-color: #fff;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
}

.reset:hover {
  transform: scale(1.04); /* Aumenta em 7% o tamanho do quadrado */
  border-radius: 15px;
  border: 1px solid #000;
}

.reset:focus {
  background-color: #c00303;
  color: #fff;
}

.game {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  transform-style: preserve-3d;
  perspective: 500px;
}

/* Estilos para diferentes dificuldades */
.game.easyGame {
  width: 430px; /* Menor para easy */
  height: 430px;
}

.game.normalGame {
  width: 630px; /* Tamanho médio para normal */
  height: 100vh;
  gap: 5px;
}

.game.hardGame {
  width: 930px; /* Maior para hard */
  height: 830px;
  gap: 5px;
  display: flex;
  justify-content: center;
}

.item {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #fff; */
  border-radius: 40px;
  font-size: 3em;
  transform: rotateY(180deg);
  transition: 0.25s;
  cursor: pointer;
}

.item::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #404040;
  border-radius: 40px;
  transition: 0.25s;
  transform: rotateY("0deg");
  backface-visibility: hidden;
}

.item.boxOpen {
  transform: rotateY(0deg);
}

.item.boxOpen::after,
.item.boxMatch::after {
  transform: rotateY(180deg);
}

footer {
  justify-content: end;
  padding-right: 15px;
  text-align: end;
  color: rgb(0, 0, 0);
}

@media (max-width: 768px) {
  * {
    /* background-color: #c00303; */
  }
  .title {
    font-size: 14px;
  }
  .item {
    width: 70px;
    height: 90px;
  }
  .game{
    display: flex;
    justify-content: center;
  }
  /* Estilos para diferentes dificuldades */
  .game.easyGame {
    width: 350px; 
    height: 430px; /* Menor para easy */
  }

  .game.normalGame {
    width: 350px; 
    height: 950px; /* Tamanho médio para normal */
    gap: 5px;
  }

  .game.hardGame {
    width: 350px; 
    height: 1950px; /* Tamanho da pagina grande para hard */
    gap: 5px;
    display: flex;
    justify-content: center;
  }
}
